{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="form">
    <h2>Log in</h2>
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Login" class="login-btn">
        <a href="{% url 'account:register' %}"
        style="display: inline-block; text-decoration: none; margin-top: 30px; font-size: 18px; font-weight: 400;">Register</a>
    </form>
        
</div>
{% endblock %}